@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}

a,
a:hover {
    text-decoration: none;
    color: #fff !important;
}


ul,
ol {
    margin: 0;
    padding: 0;
}

/* Variable define */
:root {
    --primary-color: #A82C48;
    --secondary-color: #43121d;
    --third-color: #f98169;
    --white-color: #fff;
    --text-color: #555;
    --black-color: #000;
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Quicksand', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    font-size: 100%;
    font-weight: 400;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: .6rem;
    background-color: hsl(0, 0%, 10%);
}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: hsl(0, 0%, 20%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(0, 0%, 30%);
}

*::selection {
    color: black;
    background-color: rgb(139, 139, 139);
}

/* Custom CSS design */

h1 {
    font-size: 4rem;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
}

h2 {
    font-weight: 600;
    font-size: 2.25rem;
    text-transform: uppercase;
    color: #fff;
    line-height: 3rem;
}

h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
}

h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

h5 {
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
    color: rgb(197, 197, 197);
    font-weight: 400;
    line-height: 1.2rem;
    letter-spacing: 1px;
}

.main-btn {
    padding: 7px 22px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50px;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 2px;
    transition: .4s;
}

.wrapper {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;

}

/* Header Design */

nav {
    background-color: transparent;
    backdrop-filter: blur(40px);
}

.navigation-wrap {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 100;
    -webkit-transition: all 0.3s ease-out;
    transition: all0.3s ease-out;
}

.navigation-wrap .nav-item {
    padding: 0 0.625rem;
    transition: all 200ms linear;
}

.navbar .navbar-brand img {
    width: 80px;
}

.navbar-toggler:focus {
    outline: unset;
    border: unset;
    box-shadow: none;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: .875rem;
}

.navigation-wrap .main-btn {
    padding: 0.3125rem 1.4375rem;
    box-shadow: none;
    margin-left: 0.625rem;
}

/* navbar style on scroll */

.navigation-wrap.scroll-on {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.575);
    box-shadow: 0 0.125rem 1.35rem 0 rgba(0, 0, 0, 0.09);
    transition: all .15s ease-in-out 0s;
}


/* top-banner */
.top-banner {
    width: 100%;
    background: url(../images/bg/bg.jpg) no-repeat center;
    background-size: cover;
    padding: 10.875rem 0 9.375rem;
}

#home .top-banner p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fff;
}

.top-banner .social i {
    font-size: 25px;
    color: #fff;
    margin: 12px;
}

/* about section */
.about-section {
    background: url(/images/bg/bg4.png);
}

.about-section .card {
    width: 70%;
    background: transparent;
}

.about-section .educ p {
    color: rgb(197, 197, 197);
    font-size: 0.85rem;
}


.about-section .card img {
    width: 100%;
}

.about-section .text-sec {
    padding: 0 2rem;
}


.about-section .c-info p {
    color: rgb(197, 197, 197);
    font-size: 0.85rem;
}



.contact {
    width: 100%;
    margin: 0 auto;
    background: url(/images/bg/bg4.png);
}

.list-group {
    list-style: none;
}

.list-group .list-item {
    margin-top: 15px;
    color: #fff;
    font-size: 1.125rem;
    font-weight: 400;
}

.list-group .list-item img {
    width: 40px;
    margin-right: 22px;
}

.form-control::placeholder,
.form-textarea::placeholder {
    color: black;
    font-weight: 600;
}


.contact .form-control {
    height: 3.225rem;
    padding: 0 1.25rem;
    font-size: 0.875rem;
    font-weight: 600;
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: rgb(139, 139, 139);
    color: black;
    transition: .4s;
}

.contact .form-textarea {
    height: 6.225rem;
    padding: 1.25rem 1.25rem;
    font-size: 0.875rem;
    font-weight: 600;
    width: 100%;
    border: none;
    border-radius: 0;
    background-color: rgb(139, 139, 139);
    color: black;
    transition: .4s;
}

.contact .form-control:focus,
.contact .form-textarea:focus {
    outline: none;
    background: #fff;
}


.progress-title {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin: 0 0 10px
}

.progress {
    height: 4px;
    background: #333;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 30px;
    overflow: visible
}

.progress .progress-bar {
    position: relative;
    background: #fff;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s
}

.progress .progress-value {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: black;
    position: absolute;
    top: -30px;
    right: -25px
}

/* .progress .progress-bar:after {
    content: "";
    display: inline-block;
    width: 10px;
    background: #fff;
    position: absolute;
    top: -10px;
    bottom: -10px;
    right: -5px;
    z-index: 1;
    transform: rotate(35deg)
} */